* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 2rem;
<<<<<<< HEAD
  background-color: rgb(252, 250, 247);
  font-family: sans-serif;
}
=======
  background-color: rgb(253, 248, 241);
  font-family: sans-serif;
}

>>>>>>> 32debc52b07ce56f9caeebabeacb8f131d7970f8
h1,
h2 {
  margin-bottom: 1rem;
}
<<<<<<< HEAD
header {
  margin-bottom: 2rem;
}
=======

header {
  margin-bottom: 2rem;
}

>>>>>>> 32debc52b07ce56f9caeebabeacb8f131d7970f8
.beer_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
<<<<<<< HEAD
/*.beer_container article {
  background-color: rgb(198, 227, 235);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}*/
.beer__article {
  background-color: rgb(198, 227, 235);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
=======

.beer_container article {
  background-color: rgb(237, 229, 217);
  padding: 2rem;
  display: flex;
  flex-direction: column;
>>>>>>> 32debc52b07ce56f9caeebabeacb8f131d7970f8
  gap: 1rem;
}

.beer_image_container {
<<<<<<< HEAD
  background-color: aliceblue;
  max-width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}
.beer_image {
  width: 100%;
  height: 250px;
=======
  background-color: rgb(221, 233, 238);
  max-width: 100%;
  height: 250px;
>>>>>>> 32debc52b07ce56f9caeebabeacb8f131d7970f8
}
